# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_DATABASE_ID=
FIREBASE_DATABASE_ID=

# Google Maps Platform Key: Required for maps and address autocomplete
# Get one at https://console.cloud.google.com/google/maps-apis/start
GOOGLE_MAPS_PLATFORM_KEY=
VITE_GOOGLE_MAPS_PLATFORM_KEY=

# Razorpay configuration
VITE_RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# AI Features
GEMINI_API_KEY=
